.projects {
  margin-top: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 2rem 20rem;
    margin-bottom: 5rem;

    @media only screen and (max-width: 800px) {
      padding: 2rem 15rem;
    }

    @media only screen and (max-width: 700px) {
      padding: 2rem 12rem;
    }

    @media only screen and (max-width: 600px) {
      padding: 2rem 8rem;
    }

    @media only screen and (max-width: 500px) {
      padding: 2rem 6rem;
    }

    @media only screen and (max-width: 300px) {
      padding: 2rem 3rem;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      left: 50%;
      bottom: -2px;
      transform: translateX(-50%);
      height: 1px;
      background: #5c5c5c;
      width: 90%;
      backface-visibility: none;
    }

    img {
      width: 100%;
      margin-bottom: 3rem;
    }

    &--text {
      h1 {
        display: inline;
        font-family: "Montserrat", sans-serif;
        font-size: 3rem;
        color: #333;
        text-transform: uppercase;
        position: relative;
        border-bottom: 1.5px solid #333;
        line-height: 5rem;

        @media only screen and (max-width: 600px) {
          font-size: 2rem;
        }
      }

      &-links {
        margin: 2rem 0 1rem 0;
        a {
          &:visited,
          &:link {
            color: #5c5c5c;
            margin-right: 2rem;
            font-family: "Montserrat", sans-serif;
            font-size: 1.7rem;
            text-transform: uppercase;
            text-decoration: none;
            position: relative;

            @media only screen and (max-width: 600px) {
              font-size: 1.5rem;
            }

            &::after {
              content: "";
              display: block;
              position: absolute;
              left: 50%;
              bottom: -1px;
              height: 2px;
              background: #5c5c5c;
              transition: width 0.3s ease 0s, left 0.3s ease 0s;
              width: 0;
              backface-visibility: none;
            }

            &:hover::after {
              width: 80%;
              left: 10%;
            }
          }
        }
      }

      h4 {
        color: #333;
        margin-right: 2rem;
        font-family: "Montserrat", sans-serif;
        font-size: 1.5rem;
      }
    }
  }
}
