.experience {
  margin-bottom: 2.4rem;
  padding: 0 1.2rem 2.4rem;

  &:not(:last-child) {
    border-bottom: 1px solid var(--background-light);
  }
}

.heading {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  justify-content: space-between;
}

.title {
  font-size: var(--text-md);
  font-weight: bold;
}

.position {
  color: var(--brand);
  font-weight: bold;
}

.bullet {
  background-color: var(--brand);
  padding: 0.5rem;
  border-radius: 100vmax;
  margin-right: 2rem;
}

.description {
  font-weight: 200;
}

.tech {
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;
}
