.skills {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 5rem;
  height: 70vh;

  &__content {
    &--1,
    &--2 {
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 50vw;

      @media only screen and (max-width: 800px) {
        width: 70vw;
      }
    }
  }

  &__details {
    display: flex;
    flex-direction: column;
    align-items: center;

    svg {
      height: 8rem;
      width: 8rem;
      margin-bottom: 2rem;
    }

    h4 {
      font-family: "Montserrat", sans-serif;
      font-size: 2rem;
      color: #5c5c5c;
      text-transform: uppercase;
      margin-bottom: 4rem;
    }
  }
}
