.navigation {
  display: none;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  list-style: none;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9229.34;

  li {
    color: white;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    transition: all 0.2s;
    position: relative;

    @media only screen and (max-width: 500px) {
      margin-left: 1.5rem;
      font-size: 1.7rem;
      margin-right: 1.5rem;
    }

    @media only screen and (max-width: 350px) {
      margin-left: 1rem;
      font-size: 1.5rem;
      margin-right: 1rem;
    }

    @media only screen and (max-width: 300px) {
      margin-left: 1rem;
      font-size: 1.3rem;
      margin-right: 1rem;
    }

    &:hover {
      display: flex;
      color: black;
    }

    //for outwards underline
    &::after {
      content: "";
      display: block;
      position: absolute;
      left: 50%;
      bottom: -5px;
      height: 3px;
      background: black;
      transition: width 0.3s ease 0s, left 0.3s ease 0s;
      width: 0;
      backface-visibility: none;
    }

    &:hover::after {
      width: 80%;
      left: 10%;
    }
  }
}

.navigation.active {
  display: none;
  width: 100%;
  background-color: rgba(black, 0.8);
  z-index: 1000;

  li {
    color: white;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    transition: all 0.2s;
    position: relative;

    @media only screen and (max-width: 500px) {
      margin-left: 1.5rem;
      font-size: 1.7rem;
      margin-right: 1.5rem;
    }

    @media only screen and (max-width: 350px) {
      margin-left: 1rem;
      font-size: 1.5rem;
      margin-right: 1rem;
    }

    @media only screen and (max-width: 300px) {
      margin-left: 1rem;
      font-size: 1.3rem;
      margin-right: 1rem;
    }

    //for outwards underline
    &::after {
      content: "";
      display: block;
      position: absolute;
      left: 50%;
      bottom: -5px;
      height: 3px;
      background: white;
      transition: width 0.3s ease 0s, left 0.3s ease 0s;
      width: 0;
      backface-visibility: none;
    }

    &:hover::after {
      width: 80%;
      left: 10%;
    }
  }
}

.headerParallaxBg {
  background-image: linear-gradient(180deg, #00000012 55%, rgb(20, 20, 20) 100%),
    url(../../img/pool.webp);
  background-attachment: fixed;
  background-size: cover;
  background-position: 50%;
  background-color: transparent;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.header {
  padding: 25rem 10rem 22rem 10rem;
  display: flex;
  flex-direction: column;

  &__title {
    display: flex;
    flex-direction: column;

    @media only screen and (max-height: 320px) {
      margin: 6rem;
    }

    @media only screen and (max-height: 290px) {
      margin-bottom: 2rem;
    }

    h1 {
      font-family: "Montserrat", sans-serif;
      font-size: 7rem;
      // font-weight: 100;
      color: white;
      text-transform: uppercase;

      @media only screen and (max-width: 300px) {
        font-size: 4rem;
      }

      @media only screen and (max-height: 290px) {
        font-size: 5rem;
      }
    }

    span {
      display: inline-block;
      animation-duration: 0.7s;
      animation-fill-mode: both;
      animation-iteration-count: 1;
      user-select: none;

      &:hover {
        animation-name: elastic;
      }
    }

    h4 {
      font-family: "Montserrat", sans-serif;
      // font-family: "Neutra-Light", sans-serif;
      font-size: 3rem;
      font-weight: 100;
      color: rgb(240, 240, 240);

      @media only screen and (max-width: 300px) {
        font-size: 3rem;
      }

      @media only screen and (max-height: 290px) {
        font-size: 3rem;
      }
    }
  }

  &__icons {
    display: flex;
    align-items: center;
    margin-top: 4rem;

    svg {
      fill: white;
      height: 4rem;
      width: 4rem;
      margin-left: 1.5rem;
      margin-right: 1.5rem;
      cursor: pointer;
      transition: all 0.5s;

      @media only screen and (max-width: 800px) {
        height: 5rem;
        width: 5rem;
      }

      &:hover {
        transform: scale(1.2);
      }
    }
  }

  @media only screen and (max-height: 440px) {
    padding: 12rem;
  }

  @media only screen and (max-height: 400px) {
    padding: 8rem;
  }

  @media only screen and (max-height: 370px) {
    padding: 6rem;
  }

  @media only screen and (max-height: 350px) {
    padding: 4rem;
  }
}

@keyframes elastic {
  0% {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(1.25, 0.75, 1);
  }

  50% {
    transform: scale3d(1.35, 0.85, 1);
  }

  65% {
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, 0.95, 1);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}
