.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  list-style: none;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9229.34;

  li {
    color: white;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    cursor: pointer;
    transition: all 0.2s;
    position: relative;

    @media only screen and (max-width: 500px) {
      margin-left: 1.5rem;
      font-size: 1.7rem;
      margin-right: 1.5rem;
    }

    @media only screen and (max-width: 350px) {
      margin-left: 1rem;
      font-size: 1.5rem;
      margin-right: 1rem;
    }

    @media only screen and (max-width: 300px) {
      margin-left: 1rem;
      font-size: 1.3rem;
      margin-right: 1rem;
    }

    &:hover {
      color: black;
    }

    //for outwards underline
    &::after {
      content: "";
      display: block;
      position: absolute;
      left: 50%;
      bottom: -5px;
      height: 3px;
      background: black;
      transition: width 0.3s ease 0s, left 0.3s ease 0s;
      width: 0;
      backface-visibility: none;
    }

    &:hover::after {
      width: 80%;
      left: 10%;
    }
  }
}

.navigation.active {
  width: 100%;
  background-color: rgba(black, 0.8);
  z-index: 1000;

  li {
    color: white;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    cursor: pointer;
    transition: all 0.2s;
    position: relative;

    @media only screen and (max-width: 500px) {
      margin-left: 1.5rem;
      font-size: 1.7rem;
      margin-right: 1.5rem;
    }

    @media only screen and (max-width: 350px) {
      margin-left: 1rem;
      font-size: 1.5rem;
      margin-right: 1rem;
    }

    @media only screen and (max-width: 300px) {
      margin-left: 1rem;
      font-size: 1.3rem;
      margin-right: 1rem;
    }

    //for outwards underline
    &::after {
      content: "";
      display: block;
      position: absolute;
      left: 50%;
      bottom: -5px;
      height: 3px;
      background: white;
      transition: width 0.3s ease 0s, left 0.3s ease 0s;
      width: 0;
      backface-visibility: none;
    }

    &:hover::after {
      width: 80%;
      left: 10%;
    }
  }
}

.headerContainer {
  height: 100vh;
  background-image: linear-gradient(
      to bottom,
      rgba(#6fa4d5, 0.5),
      rgba(#2581b4, 0.5)
    ),
    url(../../img/laptop.jpg);
  background-size: cover;
  background-position: 50%;
}

.header {
  padding: 15rem;
  display: flex;
  align-items: center;
  flex-direction: column;

  @media only screen and (max-height: 440px) {
    padding: 12rem;
  }

  @media only screen and (max-height: 400px) {
    padding: 8rem;
  }

  @media only screen and (max-height: 370px) {
    padding: 6rem;
  }

  @media only screen and (max-height: 350px) {
    padding: 4rem;
  }

  &__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 8rem;

    @media only screen and (max-height: 320px) {
      margin: 6rem;
    }

    @media only screen and (max-height: 290px) {
      margin-bottom: 2rem;
    }

    h1 {
      font-family: "Montserrat", sans-serif;
      font-size: 6rem;
      text-transform: uppercase;
      color: white;

      @media only screen and (max-width: 300px) {
        font-size: 4rem;
      }

      @media only screen and (max-height: 290px) {
        font-size: 5rem;
      }
    }

    h4 {
      font-family: "Montserrat", sans-serif;
      font-size: 4rem;
      color: rgb(240, 240, 240);

      @media only screen and (max-width: 300px) {
        font-size: 3rem;
      }

      @media only screen and (max-height: 290px) {
        font-size: 3rem;
      }
    }
  }

  &__icons {
    display: flex;
    align-items: center;
    margin-top: 4rem;

    svg {
      fill: white;
      height: 4rem;
      width: 4rem;
      margin-left: 1.5rem;
      margin-right: 1.5rem;
      cursor: pointer;
      transition: all 0.5s;

      @media only screen and (max-width: 800px) {
        height: 5rem;
        width: 5rem;
      }

      &:hover {
        transform: scale(1.2);
      }
    }
  }
}
