.heading_container {
  height: calc(70px + 3.6rem);
  display: flex;
  position: sticky;
  top: 0;
  z-index: 20;
  background: var(--bg-opaque);
  backdrop-filter: blur(12px);
  font-size: var(--text-md);
  font-weight: bold;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1440px;
  width: 90%;
  margin-inline: auto;
}

.menu {
  display: block;
}

.sections {
  display: none;
}

@media (min-width: 768px) {
  .menu {
    display: none;
  }

  .sections {
    display: flex;

    a {
      font-size: var(--text-sm);
      font-weight: 200;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0.5;
      margin-left: 4rem;
      transition: 0.1s all;
      width: 100%;

      &:hover:not(.selected) {
        border-bottom: 1px solid var(--text);
      }
    }

    .selected {
      border-bottom: 1px solid var(--brand);
      opacity: 1;
    }
  }
}

@media (max-width: 768px) {
  .heading {
    max-width: 1150px;
  }
}
