.experience {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15rem 0 5rem 0;

  &__details {
    padding: 5rem;
    position: relative;
    align-self: flex-start;
    width: 100%;

    &::after {
      content: "";
      display: block;
      position: absolute;
      left: 50%;
      bottom: 2rem;
      transform: translateX(-50%);
      height: 1px;
      background: #5c5c5c;
      width: 95%;
      backface-visibility: none;
    }

    &--1 {
      font-family: "Montserrat", sans-serif;
      font-size: 2.5rem;
      color: black;
      margin-bottom: 2rem;
    }

    &--2 {
      font-family: "Montserrat", sans-serif;
      font-size: 1rem;
      color: #333;
      margin-bottom: 2rem;
    }

    &--3 {
      h1 {
        font-family: "Montserrat", sans-serif;
        font-size: 1.5rem;
        color: #333;
      }

      p {
        font-family: "Montserrat", sans-serif;
        font-size: 1.5rem;
        color: #333;
      }
    }
  }
}
