*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* 16px is browser default */
  font-size: 62.5%; /* 1rem = 10px; 10px/16px = 62.5% */

  @media only screen and (max-width: 1000px) {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0.8rem;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #2881b4;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #6fa4d5;
}

::selection {
  background-color: #2881b4;
  color: white;
}

.app {
  background-color: #fcfcfc;
  cursor: auto;
}

.sectionTitle {
  font-family: "Montserrat", sans-serif;
  font-size: 5rem;
  color: #333;
  text-transform: uppercase;
  margin-bottom: 7rem;
  position: relative;
  text-align: center;

  @media only screen and (max-width: 500px) {
    font-size: 4rem;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50%);
    height: 2px;
    background: #5c5c5c;
    width: 70%;
    backface-visibility: none;
  }
}
